* {
    margin: 0;
    padding: 0;
}

.bi-house-door-fill {
    color: palevioletred;
    /* font-size: 20px; */
}

.bi-envelope-paper-heart-fill {
    color: palevioletred;
}

.bi-shop {
    color: palevioletred;
}

.bi-bag-heart {
    color: palevioletred;
}

.brand {
    background-color: skyblue;
    border-radius: 0 10px;
    padding-left: 5px;
    border: 1px solid greenyellow ;
    font-family: Berlin Sans FB;
    position: relative;
    top: -10px;
    /* margin-bottom: 8px; */
}

.diskon {
    width: 41px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: pink;
    color: red;
    border-radius: 10px;
}

.cashback {
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(149, 255, 220);
    color: green;
    border-radius: 10px;
}

.hargadiskon {
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    color: #808080;
}

.bi-star-fill {
    color: rgb(237, 237, 0);
}

/* .kolom {
    border-color: rgba(255, 2, 2, 0.3);
} */

.logo {
    width: 75px;
    margin-right: 25px;
    border-radius: 50%;
}


.tengah {
    display: grid;
    justify-content: center;
    align-items: center;
}

.kolom {
    background-color: #ececec89;
    padding: 10px;
    border: 2px solid skyblue;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 20px;
    margin-bottom: 50px;
    overflow: auto;
    height: 510px;
}
