.logo {
    width: 30px;
    border-radius: 50%;
}

center .profil {
    margin-top: 20px;
    width: 120px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}

center h2 {
    font-family: Brush Script MT;
    /* font-size: 20px */
    margin-bottom: 10px;
}

.bab {
    background: none;
    margin: auto;
    width: 320px;
    margin-top: 20px;
}
